.response-form {
	display: grid;
	grid-template-areas:
	"response"
	"wordCount"
	"submit";
}
.response {
	grid-area: response;
	
}
.response p.title {
	margin: 6pt 0pt;
	font-size: 24pt;
	font-weight: lighter;
}
.response .response-text, .response textarea  {
	height: 300pt;
	width: 300pt;
}
.word-count {
	grid-area: wordCount;
	text-align: end;
}
.submit {
	grid-area: submit;
	margin: auto;
}
.submit button {
	padding: 12pt 48pt;
	border-radius: 3pt;
	background-color: dodgerblue;
	color: white;
	font-size: 14pt;
	border: none;
	outline: none;
	cursor: pointer;
}
.submit button.valid:active {
	background-color: #31CB00;
	color: white;
}
.submit button.invalid:active {
	background-color: #F93E3E;
	color: white;
}